html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px; /* Must equal the height of the footer */
}

#request {
  margin-top: 120px;
}

#single-request-container {
  margin-top: 100px;
}
