ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.request-submission {
  padding-top: 20px;
}

#request-basic-auth {
  display: none;

  .auth_username {
    margin-bottom: 10px;
  }

  .auth_password {
    margin-bottom: 5px;
  }
}

#js-request-parameters-container,
#js-request-headers-container,
#js-request-payload-container,
#request-payload-group {
  display: none;

  textarea {
    height: 100px;
    resize: none;
  }
}

.share-url {
  padding: 7px;
}
