<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "application" %>
  <title>ReHTTP</title>
  <%= csrf_meta_tags %>
</head>
  <body>

  <%= yield %>

  <%= javascript_include_tag "application" %>
  </body>
</html>
